<% title "Infobit" %>

<p>
  <strong>Kind:</strong>
  <%=h @infobit.kind %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @infobit.name %>
</p>
<p>
  <strong>Content:</strong>
  <%=h @infobit.content %>
</p>

<p>
  <%= link_to "Edit", edit_infobit_path(@infobit) %> |
  <%= link_to "Destroy", @infobit, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", infobits_path %>
</p>
