<% title "Tickets" %>

<table id="tickettabelle" >
  <tr>
    <th id="tickettabelle_datum">Datum</th>
    <th id="tickettabelle_ticketnummer" >Ticketnummer</th>
    <th id="tickettabelle_prio" >Prio</th>
    <th id="tickettabelle_sunid" >Sunid</th>
    <th id="tickettabelle_serial" >Serial</th>
    <th id="tickettabelle_wartungslevel" >Wartungslevel</th>
    <th id="tickettabelle_modell" >Modell</th>
    <th id="tickettabelle_standort" >Standort</th>
    <th id="tickettabelle_langtext" >Langtext</th>
  </tr>
  <% for ticket in @tickets %>
    <tr class="<%= cycle 'zfarb0', 'zfarb1' %>">
      <td><%=h ticket.datum %></td>
      <td><%=h ticket.ticketnummer %></td>
      <td <%= 'style="background-color:red"' if ticket.prio==1 %> ><%=h ticket.prio %></td>
      <td><%=h ticket.sunID %></td>
      <td><%=h ticket.serial %></td>
      <td><%=h ticket.level %></td>
      <td><%=h ticket.model %></td>
      <td><%=h ticket.location %></td>
      <td><%=h ticket.short_langtext %></td>
      <td><%= link_to "Show", ticket %></td>
      <td><%= link_to "Edit", edit_ticket_path(ticket) %></td>
      <td><%= link_to "Destroy", ticket, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Ticket", new_ticket_path %></p>
