<% title "Ticket #{@ticket.ticketnummer}" %>

<p>
  <strong>Datum:</strong>
  <%=h @ticket.datum %>
</p>
<p>
  <strong>Bearbeiter:</strong>
  <%=h @ticket.owner %>
</p>
<p>
  <strong>Ticketnummer:</strong>
  <%=h @ticket.ticketnummer %>
</p>
<p>
  <strong>Prio:</strong>
  <%=h @ticket.prio %>
</p>
<p>
  <strong>Serial:</strong>
  <%=h @ticket.serial %>
</p>
<p>
  <strong>Sunid:</strong>
  <%=h @ticket.sunID %>
</p>
<p>
  <strong>Langtext:</strong></p>
  <%=simple_format(h(@ticket.langtext)) %>


<%= render :partial => "infos" if @ticket.info_collection %> 

<p>
  <%= link_to "Edit", edit_ticket_path(@ticket) %> |
  <%= link_to "Destroy", @ticket, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", tickets_path %>
</p>
