<% title "Ticket" %>

<p>
  <strong>Datum:</strong>
  <%=h @ticket.datum %>
</p>
<p>
  <strong>Bearbeiter:</strong>
  <%=h @ticket.owner %>
</p>
<p>
  <strong>Ticketnummer:</strong>
  <%=h @ticket.ticketnummer %>
</p>
<p>
  <strong>Prio:</strong>
  <%=h @ticket.prio %>
</p>
<p>
  <strong>Serial:</strong>
  <%=h @ticket.serial %>
</p>
<p>
  <strong>Sunid:</strong>
  <%=h @ticket.sunID %>
</p>
<p>
  <strong>Langtext:</strong>
  <%=h @ticket.langtext %>
</p>

<% if @ticket.info_collection %> <h1>Infos</h1>
<p>
	<%= @ticket.info_collection.name %> 
	<%= @ticket.info_collection.infobits.size %> 
	<% @ticket.info_collection.infobits.each do |bit| %>
		<li><%=h bit.name %> <%= auto_link(bit.content) if bit.kind == "link" %> </li>
	<% end %> 
<% end %> 

</p>


<p>
  <%= link_to "Edit", edit_ticket_path(@ticket) %> |
  <%= link_to "Destroy", @ticket, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", tickets_path %>
</p>
