<% title "Ticket #{@ticket.ticketnummer}" %>
<% a=Asset.serial_is(@ticket.serial).first%>

<p>
  <strong>Datum:</strong>
  <%=h @ticket.datum %>
</p>
<p>
  <strong>Bearbeiter:</strong>
  <%=h @ticket.owner %>
</p>
<p>
  <strong>Ticketnummer:</strong>
  <%=h @ticket.ticketnummer %>
</p>
<p>
  <strong>Prio:</strong>
  <%=h @ticket.prio %>
</p>
<p>
  <strong>Serial:</strong>
  <%=h @ticket.serial %>
</p>
<p>
  <strong>Wartungslevel:</strong>
  <%=h @ticket.level %>
</p>
<p>
  <strong>Modell:</strong>
  <%=h @ticket.model %>
</p>
<p>
  <strong>Standort:</strong>
  <%=h @ticket.location %>
</p>

<p>
	<strong>Vertragsnummer:</strong>
	<%=h @ticket.vertragsnummer %>
</p> 
<p>
  <strong>Sunid:</strong>
  <%=h @ticket.sunID %>
</p>
<p>
  <strong>Langtext:</strong></p>
  <%=simple_format(h(@ticket.langtext)) %>

<%= render :partial => "maillinks" %> 
<%= render :partial => "infos" if @ticket.server_info %> 

<p>
  <%= link_to "Edit", edit_ticket_path(@ticket) %> |
  <%= link_to "Destroy", @ticket, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Back", :back %>
</p>

<div style="font-size: 10pt;">
	  <table>
		  <tr>
			  <th>day</th>
			  <th>month</th>
			  <th>year</th>
			  <th>VQ</th>
			  <th>incident</th>
			  <th>prio</th>
			  <th>level</th>
			  <th>model</th>
			  <th>location</th>
			  <th>serial</th>
			  <th>sunid</th>
			  <th>vertrag</th>
			  <th>assignment</th>
			  <th></th><th>managed by</th>
			  <th>causecode</th>
			  <th>fehlende infos</th>
			  <th>solved by</th>
			  <th>HW/SW</th>
			  <th>langtext</th>
		  </tr>
		  <tr>
			  <td><%= @ticket.datum.day %></td>
			  <td><%=@ticket.datum.month %></td>
			  <td><%= @ticket.datum.year%></td>
			  <td>
				<%="PE" if @ticket.owner.downcase.include?("erbeldi") %>
				<%="AD" if @ticket.owner.downcase.include?("dub")%>
				<%="ADMIN!ADMIN!" if @ticket.owner.downcase.include?("admin")  %>
				<%="HB" if @ticket.owner.downcase.include?("beau")  %>
				<%="TH" if @ticket.owner.downcase.include?("hast")  %>
			</td>
			  <td><%= @ticket.ticketnummer%></td>
			  <td><%= @ticket.prio%></td>
			  <td><%= @ticket.level%></td>
			  <td><%= @ticket.model%></td>
			  <td><%= @ticket.location%></td>
			  <td><%= @ticket.serial%></td>
			  <td><%= @ticket.sunID%></td>
			  <td><%= @ticket.vertragsnummer%></td>
			  <td><%= a && a.kontaktOSY_einheit%></td>
			  <td></td><td><%= a && a.delivery_einheit%></td>
			  <td><%= %></td>
			  <td><%= %></td>
			  <td><%= %></td>
			  <td><%= %></td>
			  <td><%=@ticket.langtext %></td>
		  </tr>
	</table>
</div>
