<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
<%= stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes', :cache => "base" %>
<%= stylesheet_link_tag 'erpel' %>
    <%= yield(:head) %>
  </head>
  <body>
	<div id="container">
		<%- flash.each do |name, msg| -%>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<%- end -%>
		<div id="navigation" ><ul> <!--#This should eventually be pushed into a partial.-->
		<% if !current_user %>
			<li> Nicht eingeloggt.</li>  
			<li><%= link_to "Register", new_account_path %></li> 
			<li><%= link_to "Log In", new_user_session_path %></li>
		<% else %>
			<li>Eingeloggt als: <%= current_user.login %> </li> 
			<li><%= link_to "My Account", account_path %></li>
			<li><%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
		<% end %> 
		<%= "<li>"+link_to(assets_path, assets_path)+"</li>" if permitted_to? :index, :assets%>
		<%= "<li>"+link_to(tickets_path, tickets_path)+"</li>" if permitted_to? :index, :tickets%>
		<%= "<li>"+link_to(roles_path, roles_path)+"</li>" if permitted_to? :index, :roles%>
		<%= "<li>"+link_to(infocollections_path, infocollections_path)+"</li>" if permitted_to? :index, :infocollections%>
		<%= "<li>"+link_to(infobits_path, infobits_path)+"</li>" if permitted_to? :index, :infobits%>
		</ul></div> 
      
      <%- if show_title? -%>
        <a href="<%= params[:controller] %>">
        <h1><%=h yield(:title) %></h1></a>
      <%- end -%>
      

      <%= yield %>
    </div>
  </body>
</html>
